@import 'template';

/* -----------------------------------
 *
 * Title
 *
 * -------------------------------- */

.title {
  text-align: center;
  font-weight: 300;
  color: white;
}

/* -----------------------------------
 *
 * Input
 *
 * -------------------------------- */

.input {
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 2px;
  min-width: 320px;
  border: none;
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.text {
  color: #f1f1f1;
  font-size: 18px;
  text-align: center;
}
