@import 'template';

/* -----------------------------------
 *
 * HTML
 *
 * -------------------------------- */

.html {
  height: 100%;
}

/* -----------------------------------
 *
 * Body
 *
 * -------------------------------- */

.body {
  background: $colour-background;
  font-family: $font-default;
  margin: 0;
  height: 100%;
}
