@import 'template';

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.text {
  font-size: 64px;
  font-weight: 100;
  color: white;
  margin: 0 0 0.3em;
}

/* -----------------------------------
 *
 * Link
 *
 * -------------------------------- */

.link {
  font-size: 18px;
  color: white;
}

/* -----------------------------------
 *
 * Form
 *
 * -------------------------------- */

.form {
  display: block;
  margin: 3em 0 0;
}
