@import 'template';

/* -----------------------------------
 *
 * Content
 *
 * -------------------------------- */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* -----------------------------------
 *
 * Text
 *
 * -------------------------------- */

.text {
  font-size: 64px;
  font-weight: 100;
  color: white;
}
